---
import { ChevronRight } from "lucide-react"
---
 
<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to Astro</h1>
		<p>Click the arrow to get started</p>
		<ChevronRight />
	</body>
</html>